.form-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 25%;
    left: 50%;
    width: 55vw;
    height: 28vh;
 
    color: rgb(186, 187, 128);
    font-weight: 650;
    padding: 5px;
    display: flex;
    border-radius: 20px;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-size: 30px;
    background-image:linear-gradient(45deg,rgba(63, 21, 75, 0.479),rgba(212, 183, 55, 0.37));
    box-shadow: 0px -1px 10px goldenrod;
    flex-wrap: wrap;
}

.form-container .form-group{
    padding: 5px;
    width: 100%;
}
.form-container .form-group form-div2{
    flex-shrink: 5;
}
.form-container .form-group input{
    margin-left: 20px;
    /* padding: 5px; */
    width: 60%;
    border-radius: 7px ;
    font-size: 20px;
}
.form-container .form-group textarea{
    height:100px;
    font-size: 20px;
    flex-shrink: 50%;
}
.form-container  button{
    width: 100px;
    padding: 10px;
    margin-left: 300px;
    border-radius: 20px;
    background-color: transparent(105, 38, 160);
    box-shadow: 0px 0px 5px rgba(46, 54, 11, 0.267);
    border: none;
    position: absolute;
    right: 20px;
    top: 76%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(44, 32, 32);
}

.form-container  button:enabled{
    background-color: rgb(184, 223, 44);
    box-shadow: 0px -2px 5px rgb(63, 75, 41) ;
}

@media screen and (max-width:650px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* body{
        width: 100vw;
        height: 100vh;
    } */
    .form-container{
        top: 24%;
        width:80vw;
        height: 28vh;
        font-size: 12px;
        padding: 5px;
    }

    .form-container .form-group input{
        padding: 10px;
        width: 60%;
        padding:5px;
        margin-left: 7px;
        font-size: 10px;
    }

    .form-container .form-group textarea{
        padding: 3px;
        height: 3.8rem;
        width: 60%;
        font-size: 12px;
    }

    .form-container  button{
        width: 70px;
        font-size: 12px;
        text-align: center;
        right: 10px;
        bottom: 5px;
    }
}