.container-todo{
    background-color: rgba(218, 30, 30, 0.664);
    padding: 20px;
    line-height: 1.5;
    border-radius: 20px;
    color: rgba(205, 228, 4, 0.986);
    font-size: 20px;
    margin: 10px;
    box-shadow: inset 0px 0px 8px black;
    position: relative;
    word-wrap: break-word;

}
.container-todo:hover{
    background-color: rgba(224, 134, 134, 0.671);
    box-shadow: -1px -2px 12px rgba(204, 24, 24, 0.829);
}
h3{
    color: rgb(45, 22, 128);
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.1mm;
}

article>div .btn{
    background-color: transparent;
    color: rgb(90, 224, 37);
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%,-50%);
    right: 10px;
    top: 50%;
    font-size: 15px;

}
p{
    width:93%;
}

@media screen and (max-width:650px) {

    .container-todo{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin: 10px auto;
        font-size: 12px;
    }
    h3{
        font-size: 20px;
        font-weight: 400;
        text-decoration:wavy;
    }
    article>div .btn{
        right: 3px;
        font-size: 9px;
        margin-left: 5px;
    }
    p{
        width:85%;
    }
}
